<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 1</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    ESTO ES SOLO EL COMIENZO...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Erase una vez, un grupo de amigos tuvieron una brillante idea de ir todos juntos a una finca de un miebro del grupo llamado Checha.
                Todos fueron invitados a dormir, entoces tuvieron una reunion tranquila la cual dio inicio despues de almuerzo.
                La finca era una productora de huevos y todos fueron a visitar a las gallinas, hasta aprendieron el proceso en el cual recogieron huevos.
                Luego empieza lo bueno segun ellos.
            </p>

            <center>
                <details>
                    <summary>Quiero más...</summary>
                    <p>Elije un camino...</p>
                    <ul>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte1_1.html">Seguir a una historia inventada</a>
                                </h1>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte2.html">Conocer la verdadera historia</a>
                                </h1>
                            </article>
                        </li>
                    </ul>
                </details>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>