<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 2</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Empieza lo bueno...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Antes de continuar con lo bueno, les dare un contexto del grupo de amigos, el cual esta conformado por 4 parejas, 2 hombres sin pareja y 1 mujer sin pareja.
                Como pueden saber muchas de las reuniones se dividen los grupos entre hombres y mujeres.
                Entonces ese dia los hombres estaban pasando una noche tranquila tomando un par de tragos sentados en una pergola.
                Mientras las mujeres se quedaron viendo miss universo dentro de la casa.
                Pero los hombres no podian desperdiciar esa oportunidad, entonces a uno de los miebros del grupo llamado Alexis se le ocurrio la brillante idea de decir algo...
            </p>
            <center>
                <details>
                    <summary>Quiero más...</summary>
                    <p>Elije un camino...</p>
                    <ul>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte2_1.html">Solo lo dijo en su mente</a>
                                </h1>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte3.html">Compartio su brillante idea</a>
                                </h1>
                            </article>
                        </li>
                    </ul>
                </details>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>