<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 4.1</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Como toda historia tiene un final...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Se fueron a dormir debido a que dijieron que ya estaban muy tomados, tanto que se estaban cayendo.
                Entonces todos fueron a dormir.
                Al amanecer, fueron a recoger huevos temprano, para poder todos desayunar huevos con frijoles.
                Todos al otro dia discutian de como se la pasaron de alegre y se fueron para su casa todos felices.
            </p>

            <center>
                <p>
                    FIN
                </p>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>