<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 3</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Continua lo bueno...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Alexis decidio compartir su idea con el grupo de amigos. ¿Quieren saber cual fue? No fue nada brillante, pero era para aprovechar el momento.
                Al no estar las novias ahi les dijo que si se cambiaba el plan tranquilo a algo mejor. 
                Lo cual no significaba un par de cervezas y ya. Entonces decidieron sacar las armas pesadas.
                Empezaron a sacar botellas y botellas de alcohol. Solo recuerdan que se acababan como agua.
                Luego termino la premiacion de miss universo, entonces salieron las novias a hacer lo que hacen las novias.
                "Cuidar" y decir que ya era suficiente y que fueran a dormir. Pero, ellos no creian que era suficiente, entonces Alexis les dijo que solo iban a ser un par mas.
                Pero la pregunta es: ¿Que desicion tomaron todos?
            </p>
            <center>
                <details>
                    <summary>Quiero más...</summary>
                    <p>Elije un camino...</p>
                    <ul>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte3_1.html">Le hicieron caso a sus novias</a>
                                </h1>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte4.html">Le hicieron caso a Alexis</a>
                                </h1>
                            </article>
                        </li>
                    </ul>
                </details>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>