<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 6</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Llega a su final...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Al encontrarse con los bomberos pensaron como van a hacer para pagar el hospital, que haran, etc. 
                En lo que paso eso se llevaron a Marie y a lo mas cercano.
                Llegaron y era un sanatorio publico.
                Entoces lo unico que tuvieron que pagar fue un suero que se compro aparte.
                Le pusieron los puntos a marie y le inyectaron el Suero y se estabilizo.
                
            </p>
            <center>
                <details>
                    <summary>Contenido Sensible</summary>
                        <figure>
                            <img src="../IMG/imgHospital1.jpg" alt="hos1" width="300" height="400">
                            <figcaption>Contenido sensible</figcaption>
                        </figure>
                        <figure>
                            <img src="../IMG/imgHospital2.jpg" alt="hos2" width="300" height="400">
                            <figcaption>Contenido sensible</figcaption>
                        </figure>
                        <figure>
                            <img src="../IMG/imgHospital3.jpg" alt="hos3" width="300" height="400">
                            <figcaption>Contenido sensible</figcaption>
                        </figure>
                </details>
            </center>
            <p>
                Luego llama Derick a Alexis, que estaban en la casa solos Derick, Checha y Daniel.
                Le dice que los perros guardianes no paraban de ladrar, y ellos le gritaban al guardian que fuera a revisar.
                Pero David Braker no respondia entocnes se asustaron mas y mas cada vez.
                Luego Checha llamo a sus papas para decirles que no sabian que estaba pasando.
                En cuestion de minutos la policia llego con 3 patrullas a rodear el area y controlar la situacion.
                Pero no paso nada solo se habia quedado dormido David Braker.
            </p>
            <p>
                Al final se calmo la situacion. Regresaron del hospital sin ningun problema y Fueron a dormir.
                Al amanecer, fueron a recoger huevos temprano, para poder todos desayunar huevos con frijoles.
                Todos al otro dia discutian de como se la pasaron de alegre y se fueron para su casa todos felices.
            </p>
            <center>
                <h2>
                    FIN BASADO EN HECHOS REALES
                </h2>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>