<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 5</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Ahora ya no es bueno...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Marie no cayo al suelo, ella callo a una piscina. 
                Pero hay un detalle que no les he dicho... 
                Era una piscina de 2 mts y estaba vacia.
                Solo recuerdan todos haberla visto caer a la piscina en camara lenta y cae de cabeza.
                Los primeros en reaccionar fueron Chejo y Alexis, y se tiran al rescate.
                Luego solo Alexis la intenta levantar, y parecia muerta. Entonces la sacaron Chejo y Alexis de la picsina lo mas rapido posible.
                Pero ella seguia sin dar señales de vida.
                La primera reaccion de todos fue llamar a los bomberos o una ambulancia. 
                Pero nadie contestaba o les daban razon. Entonces decidieron movilizarla lo mas rapido posible a un hospital.
                Entonces Alexis la subio al Pickup y se fueron lo mas rapido posible.
                En el carro iba Alexis manejando, su Novia Daniela de Copiloto y atras Chejo con Santi.
                Luego nos llaman que habia llegado la ambulancia.
                Entonces decidimos encontrarnos a medio camino con ellos.
            </p>
            <center>
                <details>
                    <summary>Contenido Sensible</summary>
                        <figure>
                            <img src="../IMG/imgAccidente.jpg" alt="Ambulancia" width="300" height="400">
                            <figcaption>Contenido sensible</figcaption>
                        </figure>
                </details>
                <details>
                    <summary>Quiero saber mas...</summary>
                    <p>Elije un camino...</p>
                    <ul>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte5_1.html">Solo eso pasa</a>
                                </h1>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte6.html">Pasa algo mas</a>
                                </h1>
                            </article>
                        </li>
                    </ul>
                </details>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>