<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parte 3</title>
    </head>
    <body>

        <header>
            <Center>
                <h1>
                    Continua lo bueno...
                </h1>
            </Center>
        </header>

        <article>
            <p>
                Al tomar la desicion de seguir tomando, todo solo empeoro. 
            </p>
            <center>
                <figure>
                    <img src="../IMG/imgAmigos.jpg" alt="Amigos Felices" width="300" height="225">
                    <figcaption>Asi se miraba el grupo de amigos pasandola bien.</figcaption>
                </figure>
            </center>
            
            <p>
                Pero porque se preguntaran, pues todo iba bien hasta que empezaron a bailar.
                Luego de empezar a bailar y todos bajo efectos de alcohol paso algo traumatizante. Estaba bailando Santi con Marie, echandose un salson.
                Pero lo que no se percataron fue que ambos estaban bajo efectos de alcohol. 
                Lo unico que hizo santi fue echarle una su vuelta y lo que paso fue que cayo.
            </p>
            <center>
                <details>
                    <summary>Que tiene de traumatizante eso...</summary>
                    <p>Elije un camino...</p>
                    <ul>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte4_1.html">Cae al suelo</a>
                                </h1>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h1>
                                    <a href="parte5.html">Es un misterio</a>
                                </h1>
                            </article>
                        </li>
                    </ul>
                </details>
            </center>
        </article>

        <footer>
            <p>Derechos de Alexis History Channel © 2024. ALEXIS.CO.HISTORY.CHANNEL.ARPANETOS.LOL</p>
        </footer>

    </body>
</html>